### Questions
- What are the different state/country datasets?
  - They are outputs of the simulation it seems...
  - TexasDataCenterSolarModeling.pdf is a saved mathematica notebook output specifically calculating the output NorthTexas2.csv
- What is the plot?
  - X: load capex (\\$/MW), Y: Power system capex (\\$/MWh-load over 10 years)
- What does the mathematica notebook do?

In [1]:
print('hello world')

hello world

In [2]:
import os

In [5]:
os.getcwd()

'/Users/alecchen/Documents/Code/solar-modeling'

In [7]:
os.listdir('data')

['TexasDataCenterSolarModeling.pdf',
 'Britain.csv',
 'Solar modeling2.nb',
 'Actual_36.25_-102.95_2006_UPV_84MW_5_Min.csv',
 'drive-download-20250808T042704Z-1-001.zip',
 'tx-pv-2006.zip',
 'Maine.csv',
 'Arizona.csv',
 'California.csv',
 'NorthTexas2.csv',
 'Washington.csv']

In [1]:
import pandas as pd

In [2]:
az_df = pd.read_csv('data/Arizona.csv')
az_df.head()

,solar cost $/MW,battery cost $/MWh,load cost $/MW,arraysize (MW),battery size (MWh),load size (1 MW by definition),array cost $,battery cost $,load cost $ (all normalized to 1 MW),total power system cost $,total system cost $,total system cost per utilization,battery size relative to 1 MW array,load size relative to 1 MW array,annual battery utilization,annual load utilization
0,200000,200000,10000.000000,1.269183,0.0,1.0,253836.597598,0.0,10000.000000,253836.597598,263836.597598,1.107361e+06,0.0,0.787908,0.004119,0.238257
1,200000,200000,12589.254118,1.284408,0.0,1.0,256881.653255,0.0,12589.254118,256881.653255,269470.907373,1.118076e+06,0.0,0.778569,0.005099,0.241013
2,200000,200000,15848.931925,1.301215,0.0,1.0,260243.026274,0.0,15848.931925,260243.026274,276091.958198,1.131403e+06,0.0,0.768512,0.006431,0.244026
3,200000,200000,19952.623150,1.320610,0.0,1.0,264121.956898,0.0,19952.623150,264121.956898,284074.580048,1.147972e+06,0.0,0.757226,0.008048,0.247458
4,200000,200000,25118.864315,1.339795,0.0,1.0,267958.975204,0.0,25118.864315,267958.975204,293077.839519,1.168544e+06,0.0,0.746383,0.010008,0.250806

In [7]:
ca_df = pd.read_csv('data/California.csv')
ca_df.head()

,solar cost $/MW,battery cost $/MWh,load cost $/MW,arraysize (MW),battery size (MWh),load size (1 MW by definition),array cost $,battery cost $,load cost $ (all normalized to 1 MW),total power system cost $,total system cost $,total system cost per utilization,battery size relative to 1 MW array,load size relative to 1 MW array,annual battery utilization,annual load utilization
0,200000,200000,10000.000000,1.265840,0.0,1.0,253168.072084,0.0,10000.000000,253168.072084,263168.072084,1.051619e+06,0.0,0.789989,0.004271,0.250250
1,200000,200000,12589.254118,1.279195,0.0,1.0,255839.002405,0.0,12589.254118,255839.002405,268428.256523,1.061833e+06,0.0,0.781742,0.005146,0.252797
2,200000,200000,15848.931925,1.295417,0.0,1.0,259083.344454,0.0,15848.931925,259083.344454,274932.276378,1.074531e+06,0.0,0.771952,0.006621,0.255863
3,200000,200000,19952.623150,1.311187,0.0,1.0,262237.449740,0.0,19952.623150,262237.449740,282190.072890,1.090356e+06,0.0,0.762668,0.008219,0.258806
4,200000,200000,25118.864315,1.335469,0.0,1.0,267093.781284,0.0,25118.864315,267093.781284,292212.645599,1.109994e+06,0.0,0.748801,0.011168,0.263256

In [12]:
actual_df = pd.read_csv('data/Actual_36.25_-102.95_2006_UPV_84MW_5_Min.csv')
print(len(actual_df))
actual_df.head()

105120

        LocalTime  Power(MW)
0  01/01/06 00:00        0.0
1  01/01/06 00:05        0.0
2  01/01/06 00:10        0.0
3  01/01/06 00:15        0.0
4  01/01/06 00:20        0.0

In [11]:
actual_df = pd.read_csv('HA4_34.05_-102.05_2006_UPV_151MW_60_Min.csv')
actual_df.head()

        LocalTime  Power(MW)
0  01/01/06 00:00        0.0
1  01/01/06 01:00        0.0
2  01/01/06 02:00        0.0
3  01/01/06 03:00        0.0
4  01/01/06 04:00        0.0